{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    {% block page-meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>


    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"/>
{#    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>#}

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    {% block page-styles %}{% endblock %}
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
</head>

<body>

{% block navbar %}{% endblock %}

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    {% block topbar %}{% endblock %}

    <!--  BEGIN CONTENT AREA  -->
    {% block content %}
    {% endblock %}
    <!-- CONTENT AREA -->

</div>

<!-- END MAIN CONTAINER -->

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->

<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
{% block page-footer-scripts %}{% endblock %}
<!-- END PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

</body>
</html>
